.catalog-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog-filter__title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-filter__container {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter__group {
  margin: 0;
  padding: 0;
}

.catalog-filter__list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  justify-content: end;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 300px;
  max-width: 500px;
  min-height: 100%;
  list-style: none;
}

.catalog-filter__label {
  padding: 0 12px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  cursor: pointer;
}

.catalog-filter__label:hover {
  opacity: 0.6;
}

.catalog-filter__label:active {
  opacity: 1;
}

.catalog-filter__input:checked + .catalog-filter__label {
  opacity: 1;
}

.catalog-filter__group--arrow-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  /* gap: 5px; */
  min-width: 75px;
}

.catalog-filter__label-arrow {
  position: relative;
  padding: 12px 12px;
  cursor: pointer;
  opacity: 0.2;
}

.catalog-filter__label-arrow:hover {
  opacity: 1;
}

.catalog-filter__input:checked + .catalog-filter__label-arrow {
  opacity: 1;
}

.catalog-filter__input + .catalog-filter__label-arrow::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 4px;
  border: 8px solid var(--filter-arrow-icon-color);
  border-left-color: transparent;
  border-right-color: transparent;
}

.catalog-filter__input + .catalog-filter__label-arrow:active::before {
  border-color: var(--filter-arrow-active-icon-color);
  border-left-color: transparent;
  border-right-color: transparent;
}

.catalog-filter__input + .catalog-filter__label-arrow--arrow-down::before {
  border-bottom-width: 0;
}

.catalog-filter__input + .catalog-filter__label-arrow--arrow-up::before {
  border-bottom-width: 8px;
  border-top-width: 0;
}

.catalog-filter__input:checked + .catalog-filter__label-arrow::before {
  border-color: var(--filter-arrow-active-icon-color);
  border-left-color: transparent;
  border-right-color: transparent;
}
