.button {
  display: block;
  padding: 16px 12px;
  box-sizing: border-box;
  min-width: 160px;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  word-wrap: break-word;
  text-transform: uppercase;
  text-align: center;
  color: var(--button-text-color);
  background-color: var(--button-background-color);
  border: none;
  border-radius: 3px;
  word-break: break-all;
}

.button:hover {
  background-color: var(--button-background-hover-color);
}

.button:active {
  background-color: var(--button-background-active-color);
  box-shadow: inset 0 3px 0 var(--button-active-shadow-color);
}

.button--features {
  min-width: 240px;
  border: 1px solid var(--button-feature-border-color);
  box-shadow:
    0 4px 4px var(--button-feature-shadow-color),
    0 4px 4px var(--button-feature-shadow-color);
}

.button:active .button__text {
  opacity: 0.3;
}

.button--app {
  background-color: var(--button-app-color);
}

.button--app:hover {
  background-color: var(--button-app-hover-color);
}

.button--app:active {
  background-color: var(--button-app-active-color);
}

.button--presentation {
  background-color: var(--button-presentation-color);
}

.button--presentation:hover {
  background-color: var(--button-presentation-hover-color);
}

.button--presentation:active {
  background-color: var(--button-presentation-active-color);
}

.button--contact {
  width: 219px;
}

.button--catalog {
  min-width: 260px;
  color: inherit;
  background-color: var(--background-color);
}

.button--catalog:hover {
  background-color: var(--button-catalog-hover-color);
}

.button--catalog:active {
  background-color: var(--button-catalog-active-color);
}

.button--products {
  width: 200px;
}
