:root {
  --background-color: #eeeeee;
  --logo-active-color: #a6a6a6;
  --navigation-hover-color: #fb565a;
  --navigation-active-color: rgba(0, 0, 0, 0.3);

  /* footer colors */
  --social-icons-color: #e1e1e1;
  --social-icons-hover-color: #e74246;
  --social-icons-active-color: #d7373b;
  --social-icons-shadow-color: rgba(0, 1, 1, 0.1);

  /* button color */
  --button-text-color: #ffffff;
  --button-background-color: #fb565a;
  --button-background-hover-color: #e74246;
  --button-background-active-color: #d7373b;
  --button-active-shadow-color: rgba(0, 1, 1, 0.1);
  --button-feature-border-color: #000000;
  --button-feature-shadow-color: rgba(0, 0, 0, 0.25);
  --button-app-color: #00ca74;
  --button-app-hover-color: #00bc6c;
  --button-app-active-color: #00aa62;
  --button-presentation-color: #efc849;
  --button-presentation-hover-color: #eab534;
  --button-presentation-active-color: #e5a722;
  --button-catalog-hover-color: #dfdfdf;
  --button-catalog-active-color: #d5d5d5;

  /* slider */
  --slider-toggle-background-color: #ffffff;
  --slider-toggle-current-color: #c1c1c1;

  /* about */
  --before-element-color: #fb565a;

  /* form */
  --form-text-color: #283136;
  --input-icons-color: #4d4d4d;
  --filter-arrow-icon-color: #a6a6a6;
  --filter-arrow-active-icon-color: #231f20;
}
