.site-list {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  justify-content: center;
  margin: 0;
  padding: 0;
  max-width: 750px;
  list-style: none;
}

.site-list__link {
  display: block;
  box-sizing: border-box;
  padding: 18px 22px;
  max-width: 140px;
  min-height: 100%;
  word-wrap: break-word;
}

.site-list__link:hover {
  color: var(--navigation-hover-color);
}

.site-list__link:active {
  color: var(--navigation-active-color);
}
