@import "./blocks/fonts.css";
@import "./blocks/colors.css";
@import "./blocks/global.css";
@import "./blocks/button.css";
@import "./blocks/main-navigation.css";
@import "./blocks/site-list.css";
@import "./blocks/user-list.css";
@import "./blocks/main-footer.css";
@import "./blocks/social.css";
@import "./blocks/promo.css";
@import "./blocks/main-header.css";
@import "./blocks/features.css";
@import "./blocks/slider.css";
@import "./blocks/services.css";
@import "./blocks/page-main.css";
@import "./blocks/container-about.css";
@import "./blocks/about.css";
@import "./blocks/stats.css";
@import "./blocks/partners.css";
@import "./blocks/contacts.css";
@import "./blocks/contact-details.css";
@import "./blocks/catalog/page-catalog.css";
@import "./blocks/catalog/catalog-form.css";
@import "./blocks/catalog/catalog.css";
@import "./blocks/catalog/catalog-filter.css";
@import "./blocks/catalog/products.css";
@import "./blocks/catalog/pagination.css";
